:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full screen height */
}

app-header,
app-footer {
  width: 100%;
}

/* Content grows & pushes footer down */
.content {
  flex: 1;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  padding: 20px; /* optional breathing room */
  box-sizing: border-box;
}
